h2 {
  color: blue;
  font-size: 18px;
}

h3 {
  color: red;
  font-size: 18px;
}
h4 {
  color: rgb(143, 79, 131);
  font-size: 14px;
}

#myid {
  background-color: red;
}

.myclass {
  background-color: blue;
}

.mysecondclass {
}
